@model List<Capstone.Web.Models.SurveyModel>
@{
    ViewBag.Title = "DisplaySurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2 id="result_heading">Survey Results</h2>
    <table id="survey_table">
        <tr>
            <th>
                Park
            </th>
            <th>
                Votes
            </th>
        </tr>
        @foreach (var survey in Model)
        {
            <tr>
                <td>
                    @survey.parkName[survey.ParkCode]
                </td>
                <td>
                    @survey.NumberOfVotes
                </td>
            </tr>
        }
    </table>
</section>